.project-heading{
    padding:20px;
    margin:20px;
    background-color: white;
    box-shadow: 2px 2px 8px 8px rgb(97, 185, 223);
    align-items: center;     
}


.to-add-items{
    padding:20px;
    margin:20px;
    background-color: white;
    box-shadow: 2px 2px 8px 8px rgb(97, 185, 223);
}


.add-btn{
    border: black;
    color: black;
    height: 30px;
    width: 80px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}

.grid-container {
    display: contents;
}
.items-div{
    padding:20px;
    box-shadow: 2px 2px 8px 8px rgb(97, 185, 223);
    margin: 20px;
}
.items-div-title{
    background-color: skyblue;
    padding: 10px;
   
}

.items{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px; 
}

.grid-item {
  background-color: white;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.grid-container:hover > div {
     background-color: rgb(194, 237, 240);
}

.delete{
    background-color: rgb(199, 80, 80);
    font-family: Arial, sans-serif;
    padding: 10px;
}
.disabled {
    color:red;
    font-weight: 200;
    pointer-events: none;    
}

.disabled-btn{
    background-color: white;
    color:black;
}

.enabled-btn{
    background-color: rgb(94, 145, 52);
    color: white;
}

.decrease1{
    background-color:rgb(173, 172, 172);
    font-family: Arial, sans-serif;
    padding:10px;
}
.increase1{
    background-color: green;
    color:white;
    padding: 10px;
}

.status{
   
    position: relative;
    margin:20px;
    font-size: larger;
    padding: 5px;
    color:red;
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}